/split_learning_checkpoints/*

# everything in /data
/data/*

# /models/__pycache__/*
/models/__pycache__/*


# pyc files
*.pyc

# pycache files
*/__pycache__/*


# script logging files
/script_logging/*

# job execution files
/job_executer_files/*


# everything in dummy images directory
/dummy_images/*